example/.dart_tool/
example/.idea/
example/*.lock
example/build/
example/.packages
example/android/.gradle/
.idea/
example/android/gradlew
example/android/gradlew.bat
example/android/gradle/wrapper/gradle-wrapper.jar